# Ignore executables in the root
/kuroko
/*.exe
/*.deb
/krk-*
# I typically clone these subprojects in the root as well.
/wasm/
/jupyter/
# Doxygen output
/docs/html/
/docs/mod*.md
# Match library files anywhere.
*.o
*.so
*.dll
*.dSYM
*.kbc
