# Ignore executables in the root
/kuroko
/*.exe
/*.deb
/krk-*
/test/*.actual
# I typically clone these subprojects in the root as well.
/wasm/
/jupyter/
# Doxygen output
/docs/html/
/docs/mod*.md
/docs/classindex.md
/docs/functionindex.md
# Match library files anywhere.
*.o
*.so
*.so.debug
*.dll
*.dSYM
*.kbc
*.a
